#title_section {
    position: relative;

    background-color: #9C7468;
    width: 100vw;
    height: min(97.2vw, 100dvh); 
    /* height: 100vh; */
    /* covers entire height */

    display: flex;
    align-items: center;
    justify-content: center;
}

#tank {
    display: inline;

    width: 30%;
    height: 30%;
    object-fit: contain;

    position: absolute;
    left: -6%;
    top: -7%;
    transform: rotateZ(-20deg);
}

#duck {
    width: 55%;
    height: 55%;
    object-fit: contain;

    position: absolute;
    right: -10%;
    bottom: -14.1%;

    z-index: 3;
    transform: rotateY(180deg);
}

#text-container {
    width: 50%;
    height: 30%;

    z-index: 1;

    position: absolute;
    top: 29%;
    left: 26%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: min(6vw, 90px);
    text-align: center;
    font-family: "Rubik Bubbles", cursive;
    color: #595959;
}

#subtitle-container {
    width: 70%;
    height: 10%;

    z-index: 1;

    position: absolute;
    bottom: 30%;


    display: flex;
    align-items: center;
    justify-content: center;

    font-size: max(2vw, 23px);
    font-family: 'Sue Ellen Francisco', cursive;
    color: #595959;
}