.section {
    width: 100vw;
    height: min(194.4vw, 200dvh); 

    min-height: 194.4vw;
    background-color: #91837e;

    position: relative;
}

#bigger_section {
    height: min(190vw, 230dvh); 
    min-height: 200vw;
}

.section_background {
    width: 90%;
    height: 93%;

    object-fit: cover;

    position: relative;
    
    left: 3.5%;
    top: 5%;

    border-radius: 30px;

    z-index: 0;
}

iframe {
    outline: none;
    border: none;
}
.video {
    border: min(3vw, 10px) #595959 solid;
    width: min(55%, 250px);
    height: min(20%, 155px);

    position: absolute;

    top: 9%;
    left: 22.5%;

    z-index: 1;
}

#video_2 {
    /* has a different height so percent isnt accurate */
    height: min(17%, 155px);
}

.analysis {
    /* width: min(80%, 2250px); */
    width: 80%;
    height: 60%;

    position: absolute;

    top: 32%;
    left: 10%;

}

.circle_description {
    background-color: #9C7468;

    /* width: min(33.3%, 800px); */
    /* height: min(20vw, 600px); */

    height: min(22.7%, 260px);
    width: min(36.3%, 310px);
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    z-index: 1;

    font-size: min(2vw, 18px);
    text-align: center;
    font-family: 'Cinzel';

    border-radius: 40%;
}

.long_inner_text {
    font-size: min(1.4vw, 15px);

    position: relative;
    top: 1%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* different dimensions is just to ensure the text doesnt escape */
    height: 80%;
    width: 80%;
    border-radius: 40%;
}

#second_text {
    left: 90%;
}

.for_notes_text_wrapper {
    width: 0;
    position: relative;
    left: 60%;
    top: -10%;

    font-size: 3vw;
}

.for_notes_text {
    width: 30vw;
    height: 10vw;
}

.pos_middle {
    left: 34%;
    top: -2%;;
}

.pos_right {
    left: 64%;
    top: -6%;
}

.lower {
    top: -10%;
}

.lowest {
    top: -14%;
}

#even_lower_than_lowest {
    top: -18%;
}
