#footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: min(35vh, 35vw);

    background-image: url('../images/background.jpeg');
    background-size: cover;
    background-repeat: none;
}

#container_link {
    width: min(40%, 150px);
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #9C7468;
}
#go_back {
    text-decoration: none;
    color: black;

    display: block;
    font-family: "Sekuya";
    font-size: min(6vw, 21px);
    border-radius: 10px;
}
