#Europe {
    width: 100vw;
    height: 2000px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    background-color: #91837e;
}

#book_1 {
    width: 90%;
    height: 45%;
}
#book_1_wrapper {
    height: 60%;
    width: 70%;

    background-color: #e1d9ce;
    opacity: 68%;

    border: dashed, 4px, #91837e;
    border-radius: 30px;

    position: relative;
    top: 10%;
    left: 15%;
    z-index: 0;

    padding: none;
    margin: none;
}

#book_1_title {
}

#book_2 {
    width: 90%;
    height: 45%;

    background-color: red;
}