#Europe {
    width: 100vw;
    height: min(2000px, 180vw);

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    background-color: #91837e;
}

.book {
    width: 90%;
    height: 45%;

    position: relative;
}

.book_wrapper {
    height: 60%;
    width: 70%;

    background-color: #e1d9ce;
    opacity: 68%;

    border: dashed, 4px, #91837e;
    border-radius: 30px;

    position: relative;
    top: 10%;
    left: 15%;
    z-index: 0;

    padding: none;
    margin: none;

    /* animation: multi_image_description_mover 1s ease-in-out; */
}

.book_title {
    font-size: 3vw;
    text-align: center;

    font-family: 'Sue Ellen Francisco';
}

.book_description {
    font-size: min(1.8vw, 23px);
    margin-top: 2%;

    font-family: 'Sue Ellen Francisco';
}

.multi_image_clicker {
    width: 50%;
    height: 100%;

    min-height: 20%;

    border: none;

    background-color: #91837e;
    color: white;
    font-family: 'Sekuya';
    font-size: min(8.9vw, 110px);
}

.multi_image_clicker:hover {
    background-color: white;
    color: #91837e;
}

.single_image_clicker {
    width: 50%;
    height: 100%;

    border: none;

    background-color: #91837e;
    color: white;
    font-family: 'Sekuya';
    font-size: min(8.9vw, 110px);

    display: block;
}

.single_image_clicker:hover {
    background-color: white;
    color: #91837e;
}

.clone_clicker {
    /* padding-top: 0.35%; */
    /* adjustment for a weird sizing issue that height couldn't solve */
    /* RESOLVED!! -> added height to the parent which is the flex container */

    left: 100%;
}

.flex_container_image_clicker {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200%;
    height: 20%;

    position: absolute;
    left: 0;
    bottom: 0;

    /* animation: button_swap 2s ease-in-out; */
}



.flex_image_appear {
    background-color: #91837e;
    border-radius: 20px;
    
    width: min(70%, 700px);
    height: 30%;

    position: absolute;
    top: 3%;
    left: 15%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    opacity: 0;

    /* animation: multi_image_appear 2s ease-in-out; */
}

.multi_images {
    height: 90%;
    width: 30%;

    border-radius: 20px;
}

.list {
    width: 95%;
    margin-left: 2.5%;
    list-style-position: inside;
}

.single_book_wrapper {
    width: 70%;
    height: 60%;

    top: 10%;
    left: 15%;

    /* animation: single_image_description_mover 1s ease-in-out; */
}

.single_image {
    width: min(30%, 280px);
    height: 50%;

    border: #91837e solid 20px;
    border-radius: 20px;;

    position: absolute;
    top: 15%;
    right: 10%;

    opacity: 0;

    /* animation: single_image_appear 2s ease-in-out; */
}

@keyframes single_image_description_mover {
    from {
        width: 70%;
        height: 60%;
        top: 10%;
        left: 15%;
    }
    to {
        width: 50%;
        height: 70%;
        top: 5%;
        left: 3%;
    }
}

@keyframes single_image_description_mover_back {
    from {
        width: 50%;
        height: 70%;
        top: 5%;
        left: 3%;
    }
    to {
        width: 70%;
        height: 60%;
        top: 10%;
        left: 15%;
    }
}

@keyframes single_image_appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes single_image_dissapear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes single_text_grower {
    from {
        font-size: min(1.8vw, 23px);
    }
    to {
        font-size: min(2.3vw, 25px);
    }
}

@keyframes single_title_grower {
    from {
        font-size: 3vw;
    }
    to {
        font-size: 4vw;
    }
}

@keyframes single_text_revert {
    from {
        font-size: min(2.3vw, 25px);
    }
    to {
         font-size: min(1.8vw, 23px);
    }
}

@keyframes single_title_revert {
    from {
        font-size: 4vw;
    }
    to {
        font-size: 3vw;
    }
}
@keyframes multi_image_description_mover {
    from {
        width: 70%;
        height: 60%;
        top: 10%;
        left: 15%;
    }

    to {
        width: 90%;
        height: 32.5%;
        left: 5%;
        top: 37.5%
    }
}

@keyframes multi_image_description_mover_back {
    from {
        width: 90%;
        height: 32.5%;
        left: 5%;
        top: 37.5%;
    }

    to {
        width: 70%;
        height: 60%;
        top: 10%;
        left: 15%;
    }
}

@keyframes multi_image_appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes multi_image_disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes text_shrinker {
    from {
        font-size: min(1.8vw, 23px);
    }
    to {
        font-size: min(1.3vw, 15px);
    }
}

@keyframes text_revert {
    from {
        font-size: min(1.3vw, 15px);
    }
    to {
        font-size: min(1.8vw, 23px);
    }
}

@keyframes title_shrink {
    from {
        font-size: 3vw;
    }
    to {
        font-size: 2vw;;
    }
}
@keyframes title_revert {
    from {
        font-size: 2vw;
    }
    to {
        font-size: 3vw;
    }
}

@keyframes button_swap {
    from {
        transform: translateX(0%);

    }

    to {
        transform: translateX(-50%);

    }
}

@keyframes button_swap_back {
    from {
        transform: translateX(0%);

    }

    to {
        transform: translateX(50%);

    }
}

@keyframes borderFlashIn {
    from {
        border: dashed, 4px, #91837e;
    }

    to {
        border: solid, 6px, yellow;
    }
}

@keyframes borderFlashOut {
    from {
        border: solid, 6px, yellow;
    }

    to {
        border: dashed, 4px, #91837e;
    }
}