#overview {
    width: 100vw;
    height: 400px;

    /* WHAT I LEARNED: USE REM. using vh really messes things up so using px or rem -> as I wanted it to be. IS WAY BETTER */

    background-color: blue;
}

#overview_wrapper {
    width: 100%;
    height: 100%;

    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
}

#overview_flex {
    width: 90vw;
    height: 80%;

    background-color: green;
    position: absolute;
    top: 10%;
    left: 5%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}