* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;

    min-width: 100vw;
    min-height: 100vh;

    z-index: 1;
}

html {
    scrollbar-width: none;
}

.scene_background {
    width: 90%;
    height: 90%;
    object-fit: cover;

    border-radius: 50px;
    position: absolute;
    left: 5%;
}

#intro, #overview, #title_1, #book_1, #book_2, #book_3, #book_4 {
    position: relative; 
    /* anchor!! */
}

.image_wrapper {
    height: 0vh;
    width: 0vh;

    /* no anchor indicates the image is technically bound to the body */
}

#background_books {
    width: 90vw;
    height: min(1850px, 166vw);

    object-fit: cover;

    border-radius: 50px;
}




