* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;

    min-width: 100vw;
    min-height: 100vh;

    z-index: 1;
}

html {
    scrollbar-width: none;
}

#intro, #overview, #title_1, #book_1, #book_2, #book_3, #book_4 {
    position: relative; 
    /* anchor!! */
}

.image_wrapper {
    height: 0vh;
    width: 0vh;

    position: relative;

    /* no anchor indicates the image is technically bound to the body */
}

.background_image {
    position: absolute;
    top: -5vh;
    left: -47.5vw;

    width: 95vw;
    height: 190vh;

    object-fit: cover;

    border-radius: 50px;
}


#book_2 {
    width: 90vw;
    height: 90vh;

    background-color: red;
}

#book_3 {
    width: 100vw;
    height: 100vh;

    background-color: blue;
}

#book_4 {
    width: 100vw;
    height: 100vh;

    background-color: green;
}
