.video_section {
    height: min(100vw, 100dvh);
    width: 100vw;
    
    background-color: #9C7468;

    position: relative;
}

iframe {
    outline: none;
    border: none;
}
.video {
    border: min(2vw, 8px) #595959 solid;
    width: min(50%, 220px);
    height: 35%;

    position: relative;

    top: 9%;
    left: 22.5%;

    z-index: 1;
}

.video_box {
    top: 15%;
    height: 45%;
    width: 90%;
}

.video_background {
    top: 3.5%;
    width: 95%;
    height: 100%;

    border-radius: 0;

    left: 2.5%;
}

.vertical_video {
    left: 10%;
    top: 25%;

    width: min(40%, 160px);
    height: 55%;
    position: absolute;
}

#second_background {
    top: -3.5%;
}

.vertical_box {
    position: relative;
    top: 10%;
    left: 50%;

    height: 80%;
    width: 45%;
}

.smaller_video_section {
    height: min(50vw, 50dvh);
}

.bottom {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.top {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.second_box {
    position: relative;
    top: 10%;
    left: 5%;

    height: 80%;
    width: 45%;
}

.second_video {
    left: 10%;
    top: 25%;

    width: min(40%, 160px);
    height: 55%;
    position: absolute;
}

.slideshow_img {
    height: 100%;
    width: 100%;

    border: none;
}

#no_border {
    border: none;
    object-fit: cover;

    height: 90%;
    top: 15%;
}