#navbar_full_container {
    position: absolute;
    height: 0;
    /* ensures no space allocated outside!! */

    width: 80vw;

    z-index: 100;

    top: 2%;
    transform: translateX(18%);
    /* fix for the sticky issue with it making an empty area at the top */

    z-index: 2;
}

#navbar {
    width: 50vw;
    height: 10vh;

    display: flex;
    position: absolute;
    

    background-color: rgba(150, 150, 150, 0.65);
    border: none;
    border-radius: 100px;

    z-index: 1;
}

#navbar:hover {
    background-color: rgba(150, 150, 150, 0.75);
}

#dropdown_container {
    position: absolute;
    top: 13vh;
    left: -17%;
    z-index: 3;

    width: 80vw;
    height: 13vh;
    display: none;

}

#navbar_duck {
    position: relative;
    left: 36%;

    width: 35px;
}

#dropdown_formatter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #9C7468;
    border: solid #595959 0.8vw;
    border-radius: 10px;

    width: 80vw;
    height: 13vh;
}

.drop_item {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Sekuya";
    font-size: min(60%, 2.0vw);
}

.drop_item:hover {
    background-color: wheat;
}

#dropdown_item_1 {
    height: calc(100% - 0.2vw);
    width: 100%;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#dropdown_item_2 {
   
    height: calc(100% - 0.2vw);
    width: 100%;
}

#dropdown_item_3 {
   
    height: calc(100% - 0.2vw);
    width: 100%;
}


#dropdown_item_4 {
    height: calc(100% - 0.2vw);
    width: 100%;
}

#dropdown_item_5 {
    height: calc(100% - 0.2vw);
    width: 100%;

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

@keyframes dropdown_animation_in {
    from {
        transform: translateY(-30%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes dropdown_animation_out {
    from {
        transform: translateY(0%);
        opacity: 1;
    }

    to {
        transform: translateY(-30%);
        opacity: 0;
    }
}