#double_container {
    background-color: #91837e;
    width: 100vw;
    height: min(80vw, 80dvh);

    position: relative;
}

#divider1 {
    position: absolute;
    width: 45%;
    height: 80%;
    left: 4%;

    z-index: 2;
}

#divider2 {
    position: absolute;
    width: 45%;
    height: 80%;

    left: 52%;
}

.double_container_description {
}

.listOfSongs {
    width: 70%;
    height: 10%;

    display: block;

    background-color: rgb(67, 52, 31);
    border-radius: 10px;

    margin-bottom: min(10%, 27px);

    text-align: center;
    color: white;
}

ul {
    position: relative;
    left: 15%;

    list-style-type: lower-roman;
    line-height: min(400%, 59px);
}

.listOfSongs:hover {
    background-color: white;
    color: rgb(67, 52, 31);
}
