.image_tooltip_section {
    width: 150px;
    height: 230px;


    object-fit: contain;

    top: 28%;

    position: absolute;

    display: flex;
    align-items: center;

    z-index: 2;

    background-color: #595959;
}

.image_clicker {
    width: 18%;
    height: 12%;

    position: absolute;
    right: -18%;
    top: 3%;

    border-radius: 5px;

    z-index: 3;

    background-color: #595959;
}

.arrow {
    width: 80%;
    height: 80%;

    z-index: 5;
    object-fit: contain;
    background-color: white;

    border-radius: 5px;

    position: absolute;
    right: 9%;
    top: 10%;
}

.poster_image {
    width: 90%;
    height: 90%;


    position: absolute;
    left: 5%;
}


.right_image_tooltip_section {
    width: 150px;
    height: 230px;

    object-fit: contain;

    position: absolute;
    top: 63%;

    display: flex;
    align-items: center;

    z-index: 2;

    background-color: #595959;
}

#right_side_clicker {
    left: -18%;
    top: 3%;

    transform: rotateZ(180deg);
}


@keyframes rotate_arrow {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(180deg);
    }
}

@keyframes rotate_arrow_back {
    from {
        transform: rotateZ(180deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}