#Slide_1 {
    width: 100vw;
    height: 3200px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: #9C7468;
}

.title_container {
    position: absolute;
    top: 10%;

    width: 80%;
    height: 10%;

    font-family: "Rubik Bubbles", cursive;
    /* font-size: 5.3vw; */
    font-size: max(7vw, 50px);
    text-align: center;
    color: #595959;

    z-index: 4;
}

.info_box {
    position: absolute;
    height: 25%;
    width: 70%;

    background-color: #e1d9ce;
    opacity: 68%;
    left: 15%;
    top: 25%;

    border: dashed, 4px, #91837e;
    border-radius: 30px;

    z-index: 0;

    padding: none;
    margin: none;
}

.big_scene_background {
    width: 90%;
    height: 90%;
    object-fit: cover;

    border-radius: 50px;
    position: absolute;
    left: 5%;
}

.source {
    position: absolute;
    width: 70%;
    height: 22%;

    background-color: blanchedalmond;
    opacity: 1;

    left: 15%;
    bottom: -9%;

    border: solid, rgb(157, 69, 37);

    font-size: min(2.5vw, 37px);

    overflow-wrap: break-word;
    /* font-size: max(2.2vw, 1vh); */
    /* font-size: 1.7vh; */

    font-family: 'Rubik Bubbles', cursive;
    text-align: center;
}

.section_subtitle {
    width: 70%;
    height: 10%;

    position: absolute;

    left: 15%;
    top: 6%;

    font-size: min(3vw, 55px);
    font-family: 'Rubik Bubbles', cursive;
    text-align: center;
}

.description {
    width: 90%;
    height: 60%;

    position: absolute;
    bottom: 9%;
    left: 5%;

    font-family: 'Sue Ellen Francisco', cursive;
    font-size: min(2.5vw, 40px);
}

 #center_italicized {
    text-align: center;
    height: 0;
}

.source_link {
    text-decoration: none;
}

#second_info_box {
    position: absolute;
    height: 25%;
    width: 70%;

    background-color: #e1d9ce;
    opacity: 68%;
    left: 15%;
    top: 60%;

    border: dashed, 4px, #91837e;
    border-radius: 30px;

    z-index: 0;

    padding: none;
    margin: none;
}

/* Slide 2 specifics */
#Slide_2 {
    width: 100vw;
    height: 3200px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: #9C7468;
}

#change_family_italicized {
    font-family: 'Sue Ellen Francisco', cursive;
}
